.BlogContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 5px 10px;
}

.BlogTitle {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 5px;
}

.BlogAuthor {
  font-size: 20px;
  margin-bottom: 10px;
}

.BlogAuthor a {
  text-decoration: none;
  color: black;
}

.BlogAuthor a:hover {
  text-decoration: underline;
}

.BlogDate {
  font-size: 16px;
  margin-bottom: 25px;
}

.BlogPost {
  font-size: 18px;
}

.Back {
  color: black;
}

.gray {
  color: gray;
}

.CommentsContainer {
  border-top: 2px solid black;
  margin-top: 25px;
  padding-top: 10px;
  width: 60%;
}

.CommentHeading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.CommentFormContainer {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .BlogContainer {
    width: 90%;
  }

  .CommentsContainer {
    width: 90%;
  }
}
