.AddBlogContainer {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.EditorContainer {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 5px 10px;
}

.MDEditor {
  border: 1px solid black;
  display: flex;
  height: 600px;
  overflow: hidden;
}

.TextArea {
  flex: 0 0 50%;
  padding: 10px;
  overflow: hidden scroll;
  word-wrap: break-word;
  outline: none;
  border: none;
}

.PreviewContainer {
  width: 50%;
  padding: 0 5px;
  overflow: hidden scroll;
}

.PostBtn {
  outline: none;
  border: 1px solid black;
  color: white;
  background-color: black;
  font-family: inherit;
  padding: 5px 10px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
}

.Title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Title label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Title input,
.Title textarea {
  border: 1px solid black;
  font-family: inherit;
  font-size: 20px;
  outline: none;
  padding: 5px 10px;
}

.PostTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Error {
  text-align: center;
  color: rgb(245, 110, 110);
}

@media (max-width: 1000px) {
  .EditorContainer {
    width: 90%;
  }
  .MDEditor {
    flex-direction: column;
  }
  .TextArea {
    border-bottom: 1px solid black;
  }
  .PreviewContainer {
    width: 100%;
  }
}

@media (min-width: 1001px) {
  .TextArea {
    border-right: 1px solid black;
  }
}
