.CommentContainer {
  border-bottom: 1px solid gray;
  padding: 0 10px 10px 10px;
}

.Comment {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.Username {
  font-size: 18px;
  margin-bottom: 2px;
}

.gray {
  color: gray;
}

.Date {
  font-size: 14px;
  color: gray;
}

.DeleteBtn {
  outline: none;
  border: 1px solid black;
  color: white;
  background-color: black;
  font-family: inherit;
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
